.App{
  margin:0 80px;

}
.home{
  #img{
   
  }
  #home-content{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
  }
}
.form{
  h3{
    font-size: 30px;
  }
  margin:20px;
  height:300px;
  width: 600px;
  form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    input[type="text"]{
      width: 60%;
      margin: 6px 0;
      height:20px;
      font-size: 20px;
      outline: none;
      border:none;
      border-bottom: 1px solid black;
    }
    textarea{
      width: 60%;
      height: 100px;
      margin:6px 300px 16px 0;
      font-size: 14px;
    }
    
  }
}
.task-list{

}
.project-tab{
  text-decoration: none;
  color: white;
  height:250px;
  width:370px;
  font-size: 34px;
  background-color: rgb(69, 57, 226);
  border-radius: 12px;
  h4{
    font-size: 34px;
    padding: 28px;
  }
  .project-tab:visited{
    text-decoration: none;
  }
}
.completed{
  opacity: 0.3;
}
.task{
  list-style-type: none;
  color:white;
  width:90%;
  height:140px;
  border:1px solid;
  margin:16px ;
  padding: 0 16px 0 32px;
  border-radius: 20px;
  display: flex;
  background: linear-gradient(90deg, rgba(2,142,103,1) 0%, rgb(90, 29, 146) 48%, rgba(0,212,255,1) 100%);
  justify-content: space-around;
  h5{
    margin:16px 4px ;
    font-size: 23px;
  }
  .buttons{
    margin-top: 24px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button{
      margin: 16px 4px 16px 4px;
      height:48px
    }
    .timer{
      font-size: 48px;
      margin-top: 16px;
    }
    .duration{
      width:120px;
      span{
        display: block;
      }
    }
  }
}